.page-layout {
}

.sidebar {
    display: flex;
    position: absolute;
    width: 30vh;
    bottom: 0px;
    top: 0px;
    z-index: 1;
}

.topmenu {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20vh;
}
.mainpage {
    position: absolute;
    top: 20vh;
    left: 0%;
    bottom: 0px;
    right: 0px;
}
